@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --preto: #000000;
    --azul: #001041a2;
    --azul-medio:#0e2647;
    --azul-claro:#dee4ff;
    --branco: #FFFFFF;
    

    --font: "Roboto", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    background-color: var(--azul-claro);
    font-family: var(--font);
}

header {
    background-color: var(--azul-medio);
    text-align: center;
}

.logo img {
    width: 165px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 25px;
    margin-top: 100px;
}

main h2 {
    color: var(--preto);
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

#instrumentador, #carga_horaria, #horas_trabalhadas, 
#data, #medico, #material,
#hospital, #convenio{
    background-color: var(--azul);
    color: var(--azul-claro);
    font-size: 16.5px;
    padding-left: 20px;
    width: 400px;
    height:55px;
    border: none;
    border-radius: 7px;
    outline: none;
}

#instrumentador::placeholder, #carga_horaria::placeholder, #horas_trabalhadas::placeholder,
#data::placeholder, #medico::placeholder, #material::placeholder,
#hospital::placeholder, #convenio::placeholder {
    color: var(--azul-claro);
    font-size: 16.5px;
}

#button {
    background-color: var(--azul-medio);
    color: var(--azul-claro);
    width: 400px;
    height:45px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#button:hover {
    width: 430px;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 450px) {
    .logo img {
       display: none;
    }

    main {
        margin: 0px;
    }

    main h2 {
        text-align: center;
    }

    #instrumentador, #carga_horaria, #horas_trabalhadas, 
    #data, #medico, #material,
    #hospital, #convenio {
        width: 250px;
    }

    #button {
        width: 250px;
    }

    #button:hover {
        width: 270px;
    }

}